body
{
    max-width: none;
}

#ss_map
{
    box-sizing: border-box;
    width: calc(100% + 48px);
    min-height: calc(100vh - 210px);
    margin-left: -24px;
    border: thin solid #ccc;
    background-color: white;
}

@media (max-width: 600px)
{
    #ss_map
    {
        width: calc(100% + 32px);
        min-height: calc(100vh - 190px);
        margin-left: -16px;
    }
}
